O Marketing Digital tomou conta da indústria de varejo. Com isso, a cada campanha de marketing para promover uma marca ou mesmo para vender os produtos, muitos dados são gerados pelas principais plataformas deste tipo de serviço. Após a pesquisa de mercado realizada, a startup desenvolveu seu produto usando metodologias ágeis e concluiu seu MVP (Minimum Viable Product: Versão inicial de um produto que já entrega valor para o cliente e permite receber feedback para os próximos ciclos de melhoria). Após o lançamento do MVP, a startup iniciou sua campanha de marketing na plataforma de anúncios do Facebook.

O objetivo desta campanha era direcionar os leads (potenciais clientes) para sua landing page (formato de página de internet focada em determinada ação. Ex: Venda de um produto, assinatura em uma newsletter, download de um e-book etc.). Uma vez na landing page, os clientes poderiam comprar o produto. Após 2 meses de campanha de marketing, a startup recebeu os dados disponíveis na plataforma para estudar a performance das campanhas.
Como é possível observar, a startup recebeu 38.165 cliques nos anúncios do Facebook, o que custou mais de R$ 58 mil reais para a empresa. O resultado das 3 campanhas foi a venda de 6.877 cursos online.

Para melhores resultados, assim como qualquer empresa, a startup precisa aumentar as vendas e/ou diminuir os custos para maximizar o lucro da operação.

Com base nisso, você, como um(a) bom(a) analista de dados, precisa identificar o melhor perfil de cliente para ajustar o público em que os anúncios da próxima campanha serão vinculados. Portanto, o objetivo deste trabalho de Analytics é:

 

Como maximizar o lucro da startup aumentando as vendas dos cursos e/ou diminuindo os custos de marketing com as campanhas?

 

Algumas informações importantes para iniciar a análise:

·       Valor de venda do curso online: R$ 85 reais

·       Verba de marketing para a próxima campanha: R$ 20 mil reais

·       É mais interessante realizar a análise com as campanhas que geraram mais dados (princípio da teoria frequentista).

In [2]:
#Manipulação dos dados 
import pandas as pd
import numpy as np

#Pacotes gráficos
import matplotlib.pyplot as plt
import seaborn as sns

#Analises
from sklearn import linear_model
from sklearn.metrics import accuracy_score

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split


from sklearn.metrics import precision_score, recall_score, f1_score, confusion_matrix
from sklearn.metrics import roc_auc_score, average_precision_score

# Módulo de Análise Exploratória
#import aed

In [3]:
dados = pd.read_excel('dados_campanha.xlsx',sheet_name=1)

In [13]:
dados.columns

Index(['id_do_anuncio', 'campanha', 'faixa_etária', 'sexo',
       'categoria_de_interesse', 'qte_de_impressões', 'qte_de_clicks',
       'valor_investido_no_anúncio', 'Qte_de_Vendas_após_Clique', 'Unnamed: 9',
       'Unnamed: 10'],
      dtype='object')

## Analise exploratória

In [20]:
#Agrupamento por campanha
campanha = dados.groupby('campanha')[['qte_de_clicks','valor_investido_no_anúncio','Qte_de_Vendas_após_Clique']].sum()

In [21]:
#Criação de metricas
campanha['Click-through-rate'] = (campanha['qte_de_clicks'] * 100) / dados['qte_de_impressões']
campanha['Taxa_de_Conversão'] = (campanha['Qte_de_Vendas_após_Clique'] * 100) / dados['qte_de_clicks']
campanha['Custo_por_clique'] = campanha['valor_investido_no_anúncio']  / dados['qte_de_clicks']
campanha['Custo_por_conversão'] = campanha['valor_investido_no_anúncio'] / dados['Qte_de_Vendas_após_Clique']
campanha['ROI'] =  ((campanha['Qte_de_Vendas_após_Clique'] * 85) - dados['valor_investido_no_anúncio']) / dados['valor_investido_no_anúncio']

In [22]:
campanha

,qte_de_clicks,valor_investido_no_anúncio,Qte_de_Vendas_após_Clique,Click-through-rate,Taxa_de_Conversão,Custo_por_clique,Custo_por_conversão,ROI
campanha,,,,,,,,
Campanha A,113,149.710001,55,NaN,NaN,NaN,NaN,NaN
Campanha B,1984,2893.369999,474,NaN,NaN,NaN,NaN,NaN
Campanha C,36068,55662.149959,6279,NaN,NaN,NaN,NaN,NaN

In [35]:
#Verificação das categorias que mais venderam
categoria = dados.groupby('categoria_de_interesse')[['qte_de_clicks','valor_investido_no_anúncio','qte_de_impressões','Qte_de_Vendas_após_Clique']].sum()
categoria_ordenada = categoria.sort_values(by='Qte_de_Vendas_após_Clique', ascending=False)

In [41]:
oitenta=categoria_ordenada["Qte_de_Vendas_após_Clique"].sum()*0.8

soma_primeiros_20 = categoria_ordenada["Qte_de_Vendas_após_Clique"][:22].sum()
print("oitenta por cento das vendas é equivantente a:", oitenta)
print("Soma dos primeiros 22 elementos da coluna 'qte_de_vendas':", soma_primeiros_20)

oitenta por cento das vendas é equivantente a: 5446.400000000001
Soma dos primeiros 22 elementos da coluna 'qte_de_vendas': 5520

In [42]:
categoria_ordenada

,qte_de_clicks,valor_investido_no_anúncio,qte_de_impressões,Qte_de_Vendas_após_Clique
categoria_de_interesse,,,,
16,5144,8084.909990,31809524,671
29,3315,5045.190008,18768653,581
10,3317,5086.379995,17989844,480
27,3409,5176.169992,16352527,401
15,1609,2597.259995,10745856,337
20,1234,1960.770001,6899907,314
28,2025,3205.850004,10959830,302
19,1188,1940.359993,6083217,225
63,1675,2484.060002,8365640,206
64,989,1486.129996,5085460,206
32,1138,1970.530003,6455261,205
18,1524,2425.070001,8646488,192
25,1066,1603.859994,5251719,176
22,717,1039.859998,3965401,166
21,512,824.209999,2833321,157
2,311,503.450005,1727646,144
26,1113,1591.769995,4868639,139
7,410,648.929999,2612839,138
23,375,595.650001,1836368,130
36,128,205.740000,922928,119
24,419,670.059999,2256874,118
30,389,616.630003,2190783,113
107,639,923.179993,4482111,112
101,524,757.689998,2960453,109
112,339,483.799999,2324572,101
31,195,299.099999,1075312,99
65,372,542.010001,1737547,95
66,138,230.760000,893407,82
100,395,574.309992,2023690,77
104,265,387.919999,1412110,73
110,365,521.350005,2434719,72
108,402,586.200004,2763404,69
105,453,647.799993,2656351,68
113,233,342.830000,1830565,62
109,572,815.820001,2980365,60
111,260,370.649998,1490896,53
102,150,215.069999,1160953,48
103,333,479.130005,1921053,39
106,332,482.150004,1592431,38
114,191,282.619998,1066164,31

Foi observado que 22 categorias de interesse foram responsaveis por 80% do lucro. deixando 18 categorias somente com 20%. Alem disso o retorno de investimento da camapanha A foi mais que o dobro da campanha B e mais que o triplo da camapanha C.

Logo focar na campanha A e nas 22 categorias que mais venderam.